name: Deploy to Production

on:
  push:
    branches:
      - main # Este workflow se ejecuta cuando se hace push a la rama 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://chefalitas.com.do/ # URL de tu instancia Odoo en producción

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Ensure target directory exists
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PROD_SSH_HOST }}      # IP pública de tu servidor
          username: ${{ secrets.PROD_SSH_USER }}  # Usuario del servidor (p.ej. ubuntu)
          key: ${{ secrets.PROD_SSH_KEY }}        # Llave privada para SSH
          script: |
            mkdir -p ~/odoo18

      - name: Upload project files
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.PROD_SSH_HOST }}
          username: ${{ secrets.PROD_SSH_USER }}
          key: ${{ secrets.PROD_SSH_KEY }}
          source: .
          target: ~/odoo18

      - name: Restart services
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PROD_SSH_HOST }}
          username: ${{ secrets.PROD_SSH_USER }}
          key: ${{ secrets.PROD_SSH_KEY }}
          script: |
            cd ~/odoo18
            chmod +x restart.sh
            ./restart.sh
